---
layout: default
---
<div class="landing-container">
  <nav class="landing-nav">
    <a class="nav-link" href="{{ '/' | prepend: site.baseurl }}" aria-current="page">
      <span class="bracket">[</span><span class="label">home</span><span class="bracket">]</span>
    </a>
    <a class="nav-link" href="{{ '/blog/' | prepend: site.baseurl }}">
      <span class="bracket">[</span><span class="label">blog</span><span class="bracket">]</span>
    </a>
    <a class="nav-link" href="{{ '/work/' | prepend: site.baseurl }}">
      <span class="bracket">[</span><span class="label">work</span><span class="bracket">]</span>
    </a>
    <a class="nav-link" href="{{ '/about/' | prepend: site.baseurl }}">
      <span class="bracket">[</span><span class="label">about</span><span class="bracket">]</span>
    </a>
  </nav>

  <hr class="divider">

  <section class="landing-intro">
    <p>hi i am shehab, an ML engineer, and this is where i document my work.</p>
  </section>

  {% if site.posts.size > 0 %}
  <section class="landing-recent">
    <h4 class="landing-recent-heading">recent posts</h4>
    <table class="post-table">
      <tbody>
        {% for post in site.posts limit:3 %}
          <tr>
            <td class="col-title">
              <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title | downcase }}</a>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </section>
  {% endif %}

  <hr class="divider">

  <div class="links-container">
    {% if site.linkedin_username %}
    <div class="bullet">
      <a class="bullet-icon" href="https://www.linkedin.com/in/{{ site.linkedin_username }}" aria-label="linkedin">
        <img src="{{ '/assets/linkedin.svg' | prepend: site.baseurl }}" alt="" width="16" height="16">
      </a>
      <a class="bullet-label" href="https://www.linkedin.com/in/{{ site.linkedin_username }}">linkedin</a>
    </div>
    {% endif %}

    {% if site.twitter_username %}
    <div class="bullet">
      <a class="bullet-icon" href="https://x.com/{{ site.twitter_username }}" aria-label="x">
        <img src="{{ '/assets/twitter.svg' | prepend: site.baseurl }}" alt="" width="16" height="16">
      </a>
      <a class="bullet-label" href="https://x.com/{{ site.twitter_username }}">twitter</a>
    </div>
    {% endif %}

    {% if site.github_username %}
    <div class="bullet">
      <a class="bullet-icon" href="https://github.com/{{ site.github_username }}" aria-label="github">
        <img src="{{ '/assets/github.svg' | prepend: site.baseurl }}" alt="" width="16" height="16">
      </a>
      <a class="bullet-label" href="https://github.com/{{ site.github_username }}">github</a>
    </div>
    {% endif %}

    {% if site.substack_username %}
    <div class="bullet">
      <a class="bullet-icon" href="https://{{ site.substack_username }}.substack.com" aria-label="substack">
        <img src="{{ '/assets/substack.svg' | prepend: site.baseurl }}" alt="" width="16" height="16">
      </a>
      <a class="bullet-label" href="https://{{ site.substack_username }}.substack.com">substack</a>
    </div>
    {% endif %}
  </div>
</div>
